*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
ul.ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    max-width: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* CSS COMMON END */

.light{
    background-color:lightcyan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light button{
    padding: 10px 30px;
    border: none;
    cursor: pointer;
}